<!DOCTYPE html>
<html>


<head>
    <title>Dashboard</title>
    <meta name="viewport" content="user-scalable=no,width=device-width" />
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">

    <script type="text/javascript" src="static/jquery.js"></script>
</head>

<body style="margin:30px">


    <div class="container">

        <div class="row">
            <form>
                <fieldset>
                    <legend>Nombre del producto</legend>
                    <input type="text" class="form-control" name="" id="item">

                    <legend>Precio</legend>
                    <input type="number" class="form-control" id="quantity" name="">
                    <br>
                    <button type="button" id="insert" class="btn btn-success">Insertar</button>

                    <button type="button" id="create" class="btn btn-success">Crear Tabla</button>

                    <button type="button" id="remove" class="btn btn-danger">Eliminar Table</button>

                    <button type="button" id="list" class="btn btn-success">Mostrar historial</button>
                    <p><small><b>Nota:</b>La tabla debe ser creada antes de ingresar un producto</small></p>
                </fieldset>
            </form>

            <hr>
            <h4>Historial</h4>
            <table class="table table-bordered table-hover" id="itemlist">

            </table>




        </div>

    </div>



    <script type="text/javascript">

        var db = openDatabase("itemDB", "1.0", "itemDB", 65535); // itemDB is the database name


        $(function () {

            loadData(); //loading our records



            //CREATING TABLE STARTS HERE

            $("#create").click(function () {
                db.transaction(function (transaction) {
                    var sql = "CREATE TABLE items " +
                        "(id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT," +
                        "item VARCHAR(100) NOT NULL," +
                        "quantity INT(5) NOT NULL)";
                    transaction.executeSql(sql, undefined, function () {
                        alert("La tabla se creó correctamente");
                    }, function () {
                        alert("La tabla ya fue creada");
                    })
                });
            });
            // CREATING TABLE ENDS HERE



            //DELETING TABLE STARTS HERE
            $("#remove").click(function () {

                if (!confirm("¿Está seguro que desea vaciar la tabla?", "")) return;;
                db.transaction(function (transaction) {
                    var sql = "DROP TABLE items";
                    transaction.executeSql(sql, undefined, function () {
                        alert("La tabla se vació correctamente")
                    }, function (transaction, err) {
                        alert(err.message);
                    })
                });
            });
            //DELETING TABLE ENDS HERE



            //INSERTING DATA INTO TABLE

            $("#insert").click(function () {
                var item = $("#item").val();
                var qty = $("#quantity").val();
                db.transaction(function (transaction) {
                    var sql = "INSERT INTO items(item,quantity) VALUES(?,?)";
                    transaction.executeSql(sql, [item, qty], function () {
                        alert("Nuevo producto añadido satisfactoriamente");
                    }, function (transaction, err) {
                        alert(err.message);
                    })
                })
            })
            //INSERTING DATA ENDS HERE


            //FETCHING OUR RECORD
            $("#list").click(function () {
                loadData();
            })



            //FUNCTION TO LOAD OUR RECORDS
            function loadData() {
                $("#itemlist").children().remove();
                db.transaction(function (transaction) {
                    var sql = "SELECT * FROM items ORDER BY id DESC";
                    transaction.executeSql(sql, undefined, function (transaction, result) {
                        if (result.rows.length) {

                            for (var i = 0; i < result.rows.length; i++) {
                                var row = result.rows.item(i);
                                var item = row.item;
                                var id = row.id;
                                var quantity = row.quantity;
                                $("#itemlist").append('<tr id="del' + id + '"><td>' + id + '</td><td>' + item + '</td><td id="newqty' + id + '">' + quantity + '</td><td><a href="#" class="btn btn-danger deleteitem" data-id="' + id + '">Delete</a> <a href="#" class="btn btn-primary updateitem" data-id="' + id + '">Update</a></td></tr>');
                            }
                        } else {
                            $("#itemlist").append('<tr><td colspan="3" align="center">No Item Found</td></tr>');
                        }
                    }, function (transaction, err) {
                        alert('No se encontró la tabla. Oprima en "crear tabla" para crearla en este momento');
                    })
                })




                //setTimeout was used to execute codes inside it to be loaded after records are loaded/fetched.

                setTimeout(function () {
                    $(".deleteitem").click(function () {
                        var sure = confirm("¿Está seguro que desea eliminar este producto?");
                        if (sure === true) {
                            var id = $(this).data("id");
                            db.transaction(function (transaction) {
                                var sql = "DELETE FROM items where id=?";
                                transaction.executeSql(sql, [id], function () {
                                    $("#del" + id).fadeOut();
                                    alert("Producto borrado satisfactoriamente");
                                }, function (transaction, err) {
                                    alert(err.message);
                                })
                            });
                        }
                    })

                    $(".updateitem").click(function () {
                        var qty = prompt("Inserte un nuevo precio", 1);
                        if (qty !== null) {
                            var id = $(this).data("id");
                            db.transaction(function (transaction) {
                                var sql = "UPDATE items SET quantity=? where id=?";
                                transaction.executeSql(sql, [qty, id], function () {
                                    $("#newqty" + id).html(qty);
                                    alert("Producto actualizado satisfactoriamente");
                                }, function (transaction, err) {
                                    alert(err.message);
                                })
                            });
                        }
                    })

                }, 1000);


            }
            //END OF loadData() function



        });


    </script>

</body>

</html>