<body>
    <table>
        <tr>
            <td>
                <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                    <div>
                        <label>Correlativo</label>
                        <input type="number" name="correlativob" id="correlativob">
                    </div>
                    <div>
                        <label>Imagen</label><label class="validation-error hide" id="fullNameValidationError">Debe
                            describirlo</label>
                        <input type="text" name="nombreb" id="nombreb">
                    </div>
                    <div>
                        <label>Precio</label>
                        <input type="number" name="preciob" id="preciob">
                    </div>
                </form>
            </td>
            <td>
                <table class="lista" id="trajedebañoslista">
                    <thead>
                        <tr>
                            <th>NombreCompleto</th>
                            <th>Imagen</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <script src="jquery.js"></script>
</body>