<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Fátima Díaz | Bussines & Engineering Student</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Fátima Díaz" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Bussines & Engineering" class="profile-pic nav-link" />
              <span class="caption nav-link">| Third Year Student</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Studies</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-dev"></i>
            </a>
            <a href="#" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>FÁTIMA DÍAZ</h2>
          <h3>{Bussines & Engineering Student}</h3>
          <p>HTML . CSS . JavaScript . Python . MySQL</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Projects</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="about">
      <div class="container">
        <div class="about-text-box">
          <h2>Hello 👋🏽</h2>
          <p>
            I am a third-year Salvadoran student of Engineering and Business at Escuela Superior de Economía y Negocios, 
            as well as a technology entrepreneur, co-founder of Atempo El Salvador. I am proactive and like to get 
            involved in challenging projects that open opportunities for youth and children in the region. 
            I am a committed young woman who aims to impact her community with her creativity, innovation and vision.
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="studies" class="studies">
      <div class="container">
        <div class="title-heading">
          <h2>STUDIES</h2>
          <p>
            I have extensive preparation, look a bit about it ...
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-code" aria-hidden="true"></i>
            <h2>Basic Studies</h2>
            <p>
            Graduated with honors from general baccalaureate - Liceo Salvadoreño in San Salvador in 2018
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h2>Higher education</h2>
            <p>
            I obtained the PAA scholarship for the best admission process in 2019 and I am currently putting all my effort into learning a lot about the subjects of my career - Escuela Superior de Economía y Negocios  (ESEN)
            </p>
          </div>
          <!-- 
                <div class="tier-item">
                  <i class="fa fa-file-code-o" aria-hidden="true"></i>
                  <h2>PSD to HTML</h2>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
                    quasi earum, debitis exercitationem quod labore quae, saepe
                    voluptatum fugiat placeat iste, numquam maxime? Aliquam
                    explicabo, reiciendis corrupti voluptatum eum esse?
                  </p>
                </div>
                -->
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>PROJECTS</h2>
        <p>Take a look at my latest projects</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>Volunteering</h2>
          <p>
            I have volunteered in multiple organizations such as Tools For Youth El Salvador and Shoeing El Salvador and each of them has contributed to both my hard skills and my soft skills
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Work experience</h2>
          <p>
          I did an internship as a communications intern at Cloud Native El Salvador, a company that is part of the Cloud Native Computing Foundation (located in California) and this helped me to get more involved in the world of emerging technologies and to expand my list of professional contacts.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/calculator.png" />
        </div>
        <div class="project-description">
          <h2>Atempo</h2>
          <p>
           I founded 2019 together with two colleagues from the university atempoapp.com, which is a platform oriented to the empowerment of the music industry in our country with two pillars: online music classes and the creation of a community of musicians in El Salvador. We currently have 13 teachers and interns from different universities working in Finance, Technology, Marketing, Communications and Sales.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>

    <section id="contact" class="contact">
      <h2>GET IN TOUCH</h2>
      <p>
      Do not hesitate to contact me, I am willing to help you achieve your goals and projects with my skills.
      </p>
      <p>
        <i>If it is related to my Atempo project, start your subject with the word
          <strong>"Atempo"</strong></i>
      </p>
      <div class="container">
        <p>
          <a href="fdiaz@atempoapp.com"><i class="fas fa-envelope-open"></i> fdiaz@atempoapp.com</a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-youtube"> YouTube</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-dev"> Dev</i></a>
        </p>
        <p>
          <a href="#" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#studies" class="footer-nav-link">Studies</a>
        <a href="projects" class="footer-nav-link">Projects</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Fátima Díaz &copy; 2021
        </p>
        <p>Built with pure HTML, CSS and JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="#" target="_blank"><i class="fab fa-dev"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>


